.container {
	width: 1000px;
	margin: 40px auto;
}

@media (max-width: 1150px) {
	.container {
		width: 1000px;
	}
}

@media (max-width: 1050px) {
	.container {
		width: 900px;
	}
}

@media (max-width: 950px) {
	.container {
		width: 770px;
	}
}

@media (max-width: 850px) {
	.container {
		width: 650px;
	}
}

@media (max-width: 750px) {
	.container {
		width: 580px;
	}
}

@media (max-width: 650px) {
	.container {
		width: 480px;
	}
}

@media (max-width: 550px) {
	.container {
		width: 440px;
	}
}

@media (max-width:  500px) {
	.container {
		width: 400px;
	}
}

@media (max-width: 450px) {
	.container {
		width: 380px;
	}
}






